@using System.Web.Optimization
@model CommunityManager.ViewModels.Acceso.AccesoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bienvenido</title>
    @Styles.Render("~/Content/css/base")
    @Styles.Render("~/Content/css/acceso")
    @Scripts.Render("~/Bundles/jquery")
    @Scripts.Render("~/Bundles/js-base")
    @Scripts.Render("~/Bundles/acceso")

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript">
        $(document).ready(function() {
            CommunityManagerBase().Init();
            CommunityManagerAcceso().Init();
        });
    </script>
</head>
<body>
    <div class="center-container">
        <div class="table-div w100 vertical-middle">
            <div class="table-cell left-text">
                <p class="header">Bienvenido a la Comunidad Doña Ines</p>
                <ul>
                    <li>
                        <img src="../../Content/img/compartir-ico.png" />
                        <span>Comparte tus opiniones e ideas respecto a tu comunidad</span></li>
                    <li>
                        <img src="../../Content/img/publica-ico.png" />
                        <span>Reclamos, eventos, productos, servicios, encuestas, proposiciones</span></li>
                    <li>
                        <img src="../../Content/img/ingreso-ico.png" />
                        <span>INGRESO</span></li>
                    <li class="pasos-ingreso"><span>1. Usa el <b>correo</b> que tienes registrado con la administración
                        <br />
                        (donde te llegan los gastos comunes)</span></li>
                    <li class="pasos-ingreso"><span>2. Como <b>password</b> solo ingresa <b>12345</b> (luego podrás cambiarlo)</span></li>
                    <li class="pasos-ingreso"><span>3. <b>Valida</b> el <b>número de departamento</b> donde habitas</span></li>
                    <li class="pasos-ingreso"><span>4. Ingresa unos cuantos <b>datos básicos</b> de información y configuración</span></li>
                    <li class="pasos-ingreso"><span>5. Listo, ya puedes empezar a <b>participar</b> activamente con tu comunidad</span></li>
                </ul>
            </div>
            <div class="table-cell login-container">
                <div class="login-box">
                    @Html.Partial("Partial/_LoginBox")
                </div>
            </div>
        </div>
    </div>
</body>
</html>
