@using CommunityManager.Infrastructure.Extensions
@using CommunityManager.Models
@model CommunityManager.ViewModels.Portada.PublicacionViewModel

<div class="title">
    @Model.Titulo
</div>
<div class="sub-container">
    <div class="sub-title">
        @Model.TipoPublicacion
        @if (Model.TipoPublicacion == TipoPublicacion.Administracion)
        {
            @:Mensaje administrativo 
        }
        publicad@(Model.TipoPublicacion.ToString().Last()) el
        @Model.FechaIngreso.ToString("d 'de'")
        @Model.FechaIngreso.ToString(" MMMM ").Capitalize()
        @Model.FechaIngreso.ToString(" 'de' yyyy")
    </div>
    <div class="description">
        @Model.Descripcion
    </div>
</div>
