@using CommunityManager.Infrastructure.Extensions
@using CommunityManager.Models
@model CommunityManager.ViewModels.Portada.PublicacionViewModel

<div class="title">
    @Model.Titulo
</div>
<div class="options">
    @if (Model.TipoPublicacion == TipoPublicacion.Propuesta || Model.TipoPublicacion == TipoPublicacion.Reclamo)
    {
        <div class="publication-option ico-favor">
            A favor
        </div>
        <div class="publication-option ico-contra">
            En contra
        </div>
    }
    <div class="publication-option ico-seguimiento">
        Seguir
    </div>
</div>
<div class="sub-container">
    <div class="sub-title">
        @Model.TipoPublicacion
        @if (Model.TipoPublicacion == TipoPublicacion.Administracion)
        {
            @:Mensaje administrativo 
        }
        publicad@(Model.TipoPublicacion.ToString().Last()) el
        @Model.FechaIngreso.ToString("d 'de'")
        @Model.FechaIngreso.ToString(" MMMM ").Capitalize()
        @Model.FechaIngreso.ToString(" 'de' yyyy")
        <div class="votes">
            @if (Model.VotosPositivos > 0)
            {
                @Model.VotosPositivos
                <img class="first @(Model.VotosNegativos == 0 ? "just-positive" : "")" src="../../../Content/img/ico-good.png" alt="" />    
            }
            @if (Model.VotosNegativos > 0)
            {
                @Model.VotosNegativos
                <img src="../../../Content/img/ico-bad.png" alt="" />
            }
        </div>
    </div>
    <div class="description">
        @Model.Descripcion
    </div>
</div>
<div class="comments-container">
    <div class="container-header">Comentarios</div>
    @if (Model.Comentarios.Count == 0)
    {
        @:<div class="no-comments">Nadie ha comentado en esta publicación aún, se el primero en hacerlo</div>
        
    }
    else
    {
        foreach (var comentario in Model.Comentarios)
        {
        @Html.Partial("Partial/_Comentario", comentario)
        }
    }
    <div class="comment-header">Comentar</div>
    <div>
        @Html.TextAreaFor(e => e.Comentario)
    </div>
</div>
