@using CommunityManager.Infrastructure.Extensions
@using CommunityManager.Models
@model CommunityManager.ViewModels.Portada.ResumenPublicacionViewModel

<div class="container">
    <div class="post">
        <div class="title">
            @Model.Titulo
            <div class="votes">
                @if (Model.VotosPositivos > 0)
                {
                    @Model.VotosPositivos
                    <img class="first" src="../../../Content/img/ico-good.png" alt=""/>    
                }
                @if (Model.VotosNegativos > 0)
                {
                    @Model.VotosNegativos
                    <img src="../../../Content/img/ico-bad.png" alt=""/>
                }  
            </div>
        </div>
        <div class="date">
            @Model.TipoPublicacion
            @if (Model.TipoPublicacion == TipoPublicacion.Administracion)
            {
                @:Mensaje administrativo 
            }
            publicad@(Model.TipoPublicacion.ToString().Last()) el
            @Model.FechaIngreso.ToString("d 'de'")
            @Model.FechaIngreso.ToString(" MMMM ").Capitalize()
            @Model.FechaIngreso.ToString(" 'de' yyyy")
            @if (Model.NumeroComentarios > 0)
            {
                <div class="comments">@Model.NumeroComentarios comentarios</div>
            }
        </div>
        @Html.HiddenFor(p => p.Id)
    </div>
</div>
